$color_1: #aeb4b6;
$color_2: #5d6978;
$color_3: inherit;
$color_4: #fff;
$color_5: #f59e31;
$color_6: #666;
$color_7: #000;
$color_8: #ee9a30;
$color_9: #999;
$color_10: #06c;
$color_11: red;
$color_12: #f93;
$color_13: #fe2525;
$color_14: #ea2339;
$color_15: #222;
$color_16: #f4f7fd;
$color_17: #ccc;
$color_18: #3b394a;
$color_19: #ef357c;
$color_20: #0055e2;
$color_21: #8805d4;
$color_22: #ee534f;
$color_23: #747f85;
$color_24: #2b3338;
$color_25: #b2c1c8;
$color_26: #a5afb5;
$color_27: #00b4ff;
$color_28: #333;
$color_29: #b4bac3;
$color_30: #a5b0c5;
$color_31: #0081fa;
$color_32: #bbb;
$color_33: #64f4ab;
$color_34: #8b8d90;
$color_35: #010101;
$color_36: #9698a0;
$color_37: #c0c1c3;
$color_38: #353639;
$color_39: #3f85a1;
$color_40: #654492;
$color_41: #927b43;
$color_42: #ffd760;
$color_43: #ff4800;
$color_44: #e7cca9;
$color_45: #ffba00;
$color_46: #2f2e42;
$color_47: #0f2f65;
$color_48: #e6cba9;
$color_49: #e5caa8;
$color_50: #7f8a9c;
$color_51: #4c0ee9;
$color_52: #690;
$color_53: #d7dbe5;
$color_54: #16171e;
$color_55: #181b31;
$color_56: #55acee;
$color_57: #fb7000;
$color_58: #e43652;
$color_59: #4eae08;
$color_60: #235aca;
$color_61: rgba(245, 158, 49, 0.9);
$color_62: #f54331;
$color_63: #4ad2d0;
$color_64: #9928e0;
$color_65: #78bc1f;
$color_66: #ff3600;
$color_67: #efefef;
$color_68: hsla(0, 0%, 100%, 0.5);
$color_69: #191111;
$color_70: #343a40;
$color_71: #d5892d;
$color_72: #555;
$color_73: #aaa;
$color_74: #696969;
$color_75: #797693;
$font-family_1: DM Sans, sans-serif;
$font-family_2: lineicons;
$font-family_3: Libre Baskerville, serif;
$background-color_1: #f59e31;
$background-color_2: transparent;
$background-color_3: #e3eaf6;
$background-color_4: #fff;
$background-color_5: #f49d31;
$background-color_6: #6ccf96;
$background-color_7: #5169fb;
$background-color_8: #000;
$background-color_9: #fbe9ec;
$background-color_10: #ea2339;
$background-color_11: #fe2525;
$background-color_12: #101010;
$background-color_13: #f4f7fd;
$background-color_14: #3b394a;
$background-color_15: inherit;
$background-color_16: #f8d9b3;
$background-color_17: #d8f2f9;
$background-color_18: #d5e1ff;
$background-color_19: #f2f5f7;
$background-color_20: #ed5a42;
$background-color_21: #fbeff4;
$background-color_22: #eff4fb;
$background-color_23: #f4eefb;
$background-color_24: #ccc;
$background-color_25: #e8ecef;
$background-color_26: #ee534f;
$background-color_27: #f5f8f9;
$background-color_28: #00b4ff;
$background-color_29: #f2f5fa;
$background-color_30: #7f7f7f;
$background-color_31: #0081fa;
$background-color_32: #252629;
$background-color_33: #64f4ab;
$background-color_34: #333438;
$background-color_35: #2d2e31;
$background-color_36: #4d4e52;
$background-color_37: #ffd760;
$background-color_38: #f1f6f8;
$background-color_39: #f4f1f8;
$background-color_40: #f8f6f1;
$background-color_41: #999;
$background-color_42: #2f2e42;
$background-color_43: #ff4800;
$background-color_44: #ffba00;
$background-color_45: #516e9e;
$background-color_46: #e7cca9;
$background-color_47: #0f2f65;
$background-color_48: #f0f3f9;
$background-color_49: #a3a3a3;
$background-color_50: #e6cba9;
$background-color_51: #4c0ee9;
$background-color_52: #eceff5;
$background-color_53: #eff1f6;
$background-color_54: #f2f9e4;
$background-color_55: #eef0f5;
$background-color_56: #f1f3f8;
$background-color_57: #3b5999;
$background-color_58: #55acee;
$background-color_59: #dd4b39;
$background-color_60: #2b4b6a;
$background-color_61: #fb7000;
$background-color_62: #f3f4f9;
$background-color_63: #fff7ee;
$background-color_64: rgba(245, 158, 49, 0.2);
$background-color_65: #fdf3f2;
$background-color_66: #e6fdf8;
$background-color_67: #f4e9fd;
$background-color_68: #edfbe9;
$background-color_69: #666;
$background-color_70: #faf2e9;
$background-color_71: #f1445a;
$background-color_72: #f1f6fa;
$background-color_73: #f93;
$background-color_74: #e8eff5;
$background-color_75: #889aaa;
$background-color_76: #ebeff0;
$background-color_77: #e4edf0;
$background-color_78: #b99e64;
$background-color_79: #fbd152;
$background-color_80: #e75c18;
$background-color_81: rgba(0, 0, 0, 0.7);
$border-color_1: transparent;
$border-color_2: #3b394a;
$border-color_3: #ee534f;
$border-color_4: inherit;
$border-color_5: #ff530f;
$border-color_6: #e7cca9;
$border-color_7: #4c0ee9;
$border-color_8: #f59e31;
$border-color_9: #000;
$border-color_10: #fff;
$border-color_11: #f5a035;
$border-color_12: #222;
$border-top-color_1: #ddd;
$border-bottom-color_1: #000;
$border-bottom-color_2: #ee534f;
$border-bottom-color_3: #d2d6dd;
$border-bottom-color_4: #fff;
